
<section class= "home">
  <h1>What to say about me?</h1>
  <p>Started with Archaeology and became a Web Developer afterwards. Combining history and future in one place.</p>
</section>

<section class: "container">
  <div class= "row">

    <div class= " col-xs-12 col-md-6 col-lg-6">
      <%= image_tag("Pantheon.jpg", class: "img-responsive about_img") %>
    </div>

    <div class= " col-xs-12 col-md-6 col-lg-6">
      <%= image_tag("Pantheon.jpg", class: "img-responsive about_img") %>
    </div>
  </div>
</section>
