<section class= "home">
  <h1>Do you want to become digital?</h1>
  <p>I'll assist you and your company to become exactly that.</p>
</section>

<section class: "container">
  <div class= "row">

    <div class= " col-xs-12 col-md-6 col-lg-6">
      <%= image_tag("code2.png", class: "img-responsive") %>
    </div>

    <div class= " col-xs-12 col-md-6 col-lg-6">
      <%= image_tag("img2.jpg", class: "img-responsive") %>
    </div>
  </div>
</section>
