// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table, thead, tr, th, td {
  border: 1px solid black;
  text-align: center;
  border-collapse: collapse;
}

table {
  width: 100%;
}

th {
  background-color: green;
  color: white;
}

td {
  text-align: left;
  vertical-align: bottom;
}

tr:hover {
  background-color: red;
}
