// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.product_layout {
  border: 1px solid black;
  padding: 5px;

}
.layout {
  font-size: 2em;
}

.left {text-align: left;}

.products {height: 600px;}

.product_image {
  margin: 0px auto;
  display: block;
  width: 80%;
}

.product_layout p {
  font-size: 1.3em;
}

.field {
  margin-left: auto;
  margin-right: auto;
}


.bgdc-show {background-color: white;}
