<p id="notice"><%= notice %></p>

<h1>Products</h1>


<div class="container-fluid">
  <div class="row">

      <%=  render "shared/product" %>

  </div>
</div>
<%= link_to 'New Product', new_product_path %>

<br>
